body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #fff;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  list-style-type: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

a {
  text-decoration: none;
}

.container {
  width: 100%;
  max-width: 320px;
  padding-left: 16px;
  padding-right: 16px;
  margin: 0 auto;
}

/* HEADER */
.header {
  border-bottom: 1px solid #e7e9fc;
  /* box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08); */
  box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 2px 1px 0 rgba(46, 47, 66, 0.08);
}

.header-container {
  display: flex;
  align-items: center;
}
.header-nav {
  display: flex;
  align-items: center;
}
.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  display: inline-block;
}
.header-logo {
  padding-top: 24px;
  padding-bottom: 24px;
  margin-right: 76px;
}
.header-logo .logo-part {
  color: #2e2f42;
}
.footer-logo {
  color: #f4f4fd;
  display: inline-block;
}

.header-list {
  display: flex;
  align-items: center;
  gap: 40px;
}
.header-link {
  padding: 24px;
  display: block;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
  padding: 24px 0;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header-link.current {
  position: relative;
}
.header-link.current::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -1px;
  background-color: #404bbf;
  border-radius: 2px;
  width: 100%;
  height: 4px;
}

.header-link:hover,
.header-link:focus,
.contacts-link:hover,
.contacts-link:focus,
.header-link.current {
  color: #404bbf;
}
.contacts {
  font-style: normal;
  margin-left: auto;
}

.contacts-list {
  display: flex;
  align-items: center;
  gap: 40px;
}
.contacts-link {
  display: block;
  padding: 24px 0;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
/* MAINE */
.main-title {
  background-color: #2e2f42;
  padding-top: 188px;
  padding-bottom: 188px;
  display: flex;

  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/peopleoffice.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  max-width: 1440px;
  margin: 0 auto;
}

.main-name {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
  color: #fff;
  max-width: 496px;
  margin: 0 auto;
}

.main-button {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  background-color: #4d5ae5;
  cursor: pointer;

  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  margin: 0 auto;
  display: block;
  padding: 16px 32px;
  margin-top: 48px;
  min-width: 169px;
  height: 56px;
  border: none;
  border-radius: 4px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.main-button:hover,
.main-button:focus {
  background-color: #404bbf;
}

/* SECTION ABOUT */
.description {
  padding-top: 96px;
  padding-bottom: 96px;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.description-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 72px;
}
.description-item {
  width: 100%;
}
.description-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
  text-align: center;
}
.description-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.about-icons {
  /* width: 264px;
  height: 112px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #8e8f99;
  border-radius: 4px;
  background-color: #f4f4fd;
  margin-bottom: 8px; */
  display: none;
}

/* OUR TEAM */
.team {
  background-color: #f4f4fd;
  padding-bottom: 96px;
  padding-top: 96px;
}
.team-descr {
  text-transform: capitalize;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 72px;
}
.team-list {
  display: flex;
  flex-wrap: wrap;
  /* align-items: center; */
  /* gap: 24px; */
  gap: 72px;
  padding: 0px 12px;
}

.team-item {
  background-color: #ffffff;
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
  /* width: calc((100% - 24px * 3) / 4); */
  border-radius: 0px 0px 4px 4px;
  /* width: 100%; */
}

.name-position {
  padding-top: 32px;
  padding-bottom: 32px;
  /* padding-left: 16px;
  padding-right: 16px; */
}
.team-name {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 8px;
}
.team-position {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: #434455;
  margin-bottom: 8px;
}
.social-networks-list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 24px;
  /* padding-left: 16px; */
  /* padding-right: 16px; */
}
.team-icon-networks {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  background-color: #4d5ae5;
  border: 1px solid #4d5ae5;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.icon-social-networks {
  fill: #f4f4fd;
}

.team .team-icon-networks:hover,
.team .team-icon-networks:focus {
  background-color: #404bbf;
}

/* SECTION WORKS */

.works {
  padding-top: 86px;
}
.works-text {
  text-transform: capitalize;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 72px;
}
.works-list {
  display: flex;
  flex-wrap: wrap;
  row-gap: 48px;
}

.works-item {
  position: relative;
  overflow: hidden;
  cursor: pointer;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.box {
  position: relative;
  overflow: hidden;
}

.text-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  padding: 40px 32px;
  background-color: #4d5ae5;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.works-item:hover .text-overlay {
  transform: translateY(0%);
}
.works-item:hover {
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.works-container {
  border-bottom: 1px solid #e7e9fc;
  border-left: 1px solid #e7e9fc;
  border-right: 1px solid #e7e9fc;
  padding: 32px 16px;
  width: 360px;
  height: 120px;
}
.works-name {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}
.works-addition {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

/* FOOTER */

.footer {
  background-color: #2e2f42;
  padding-top: 100px;
  padding-bottom: 100px;
}
.footer .container {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}
/* .footer-logo-text {
  margin-right: 120px;
} */
.footer-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  max-width: 264px;
}
.footer .logo {
  margin-right: 0;
  padding: 0;
  margin-bottom: 16px;
}

.footer-text-media {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #fff;
  margin-bottom: 16px;
}
.footer .team-icon-networks:hover,
.footer .team-icon-networks:focus {
  background-color: #31d0aa;
}

.footer .social-networks-list {
  gap: 16px;
}
.form-text-footer {
  margin-bottom: 16px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #fff;
}
.form-footer {
  display: flex;
  gap: 24px;
}

.form-input-email {
  width: 264px;
  height: 40px;
  background-color: transparent;
  border: 1px solid #fff;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  padding-left: 16px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  color: #fff;
}
input::placeholder {
  color: #ffffff;
}

.form-button {
  min-width: 165px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  background-color: #4d5ae5;
  cursor: pointer;
  border-radius: 4px;
  border: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-button:hover,
.form-button:focus {
  background-color: #404bbf;
}

.form-icon {
  fill: #fff;
  margin-left: 16px;
}

.backdrop {
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  position: fixed;
  top: 0;
  left: 0;

  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.backdrop.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.modal {
  width: 408px;
  min-height: 584px;
  border-radius: 4px;
  background-color: #fcfcfc;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12),
    0 2px 1px 0 rgba(0, 0, 0, 0.2);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 72px 24px 24px 24px;
}
.backdrop:not(.is-open) .modal {
  transform: translate(-50%, -50%) scale(1.5);
}
.button-modal-close {
  padding: 0;
  position: absolute;
  top: 24px;
  right: 24px;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: #e7e9fc;

  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-modal-close:hover,
.button-modal-close:focus {
  background-color: #404bbf;
  border: none;
}
.button-modal-close:hover .modal-close-icon,
.button-modal-close:focus .modal-close-icon {
  fill: #fff;
}

.modal-close-icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-title {
  max-width: 360px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 16px;
}
.modal-field {
  margin-bottom: 8px;
}

.modal-input-cover {
  position: relative;
}

.modal-input {
  height: 40px;
  padding-left: 38px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-item {
  width: 100%;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  outline: transparent;
  background-color: transparent;
}
.modal-input:focus {
  border-color: #4d5ae5;
  /* transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1); */
}
.modal-input:focus + .modal-input-icon {
  fill: #4d5ae5;
}

.modal-input-icon {
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-input-text {
  display: block;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
  margin-bottom: 4px;
}
.modal-field-textarea {
  margin-bottom: 16px;
}
.modal-textarea {
  color: rgba(46, 47, 66, 0.4);
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  padding: 8px 16px;
  height: 120px;
  resize: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-textarea:focus {
  border-color: #4d5ae5;
}
.check-box {
  margin-bottom: 24px;
}
.check-text {
  font-weight: 400;
  font-size: 12px;
  letter-spacing: 0.04em;
  color: #8e8f99;
  /* display: flex; */
  align-items: center;
  margin-bottom: 24px;
  line-height: 1.17;
}
.check-element {
  display: inline-flex;
  width: 16px;
  height: 16px;
  border-radius: 2px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  margin-right: 8px;
  justify-content: center;
  align-items: center;
  fill: transparent;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-check:checked + .check-text .check-element {
  background-color: #404bbf;
  fill: #f4f4fd;
  border: none;
}
.user-privacy-policy {
  color: #4d5ae5;
  text-decoration: underline;
}
.button-modal {
  min-width: 169px;
  height: 56px;
  display: block;

  margin: 0 auto;
  border: none;
  border-radius: 4px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  background-color: #4d5ae5;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  text-align: center;
  color: #fff;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button-modal:hover,
.button-modal:focus {
  background-color: #404bbf;
  border: none;
}
/* !TABLET */
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
  .description-list {
    gap: 72px 24px;
  }
  .description-title {
    text-align: start;
  }

  .description-item {
    width: calc((100% - 24px) / 2);
  }
  .team-list {
    justify-content: center;
    gap: 64px 24px;
  }
  .works {
    padding-top: 96px;
    padding-bottom: 96px;
  }
  .works-list {
    gap: 72px 24px;
  }
  .works-item {
    width: calc((100% - 24px) / 2);
  }
}

/* !DESCTOP */
@media screen and (min-width: 1158px) {
  .container {
    max-width: 1158px;
    padding: 0 15px;
  }
  .description-list {
    flex-wrap: nowrap;
    display: flex;
    gap: 24px;
  }
  .description-item {
    width: calc((100% - 24px * 3) / 4);
  }
  .description-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    text-align: start;
  }
  .description-text {
    font-weight: 400;
  }
  .about-icons {
    width: 264px;
    height: 112px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #8e8f99;
    border-radius: 4px;
    background-color: #f4f4fd;
    margin-bottom: 8px;
  }
  .team {
    padding: 120px 0;
  }
  .team-item {
    /* flex: 0 0 auto; */
    width: calc((100% - 24px * 3) / 4);
  }
  .works {
    padding-top: 120px;
    padding-bottom: 120px;
  }
  .works-list {
    gap: 48px 24px;
  }
  .works-item {
    width: calc((100% - 24px * 2) / 3);
  }
}
